/* card styles */
.book-info-wrapper {
    background-color: white;
    height: 340px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.book-thumbnail-wrapper {
    width: 128px;
    height: 161px;
    margin: 0 auto 10px;
}

.bookimg {
    width: 100%;
    float: left;
    position: relative;
    height: 161px;
    background-color: #d1d1d1;
}

.frontcover {
    z-index: 2;
    width: 100%;
    float: left;
    position: relative;
}

.backcover {
    top: 2%;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 96%;
    overflow: hidden;
    background: #000;
    position: absolute;
}

.book-thumbnail {
    width: 128px;
    height: 161px;
}

.book-info-wrapper .btnaddtowishlist {
    bottom: 35%;
    left: 0;
    opacity: 0;
    z-index: 4;
    width: 100%;
    margin: 0 0 -17px;
    visibility: hidden;
    position: absolute;
}

.btnaddtowishlist {
    color: #fff;
    padding: 0 10px;
    text-align: center;
    background: #f16945;
    display: inline-block;
    vertical-align: middle;
    text-transform: capitalize;
    font: 400 13px/34px 'Work Sans', Arial, Helvetica, sans-serif;
}

.btnaddtowishlist span {
    display: inline-block;
    vertical-align: top;
    font-size: inherit;
    line-height: inherit;
}

/* card hover styles */

.book-info-wrapper:hover .bookimg {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: perspective(1000px) rotateY(-30deg) rotateZ(0deg);
    -moz-transform: perspective(1000px) rotateY(-30deg) rotateZ(0deg);
    -ms-transform: perspective(1000px) rotateY(-30deg) rotateZ(0deg);
    -o-transform: perspective(1000px) rotateY(-30deg) rotateZ(0deg);
    transform: perspective(1000px) rotateY(-30deg) rotateZ(0deg);
}

.book-info-wrapper:hover .backcover {
    left: 18px;
}

.frontcover::before {
    top: 0;
    left: 0;
    z-index: 3;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 8%, rgba(0, 0, 0, 0.1) 5%, rgba(0, 0, 0, 0) 13%);
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 8%, rgba(0, 0, 0, 0.1) 5%, rgba(0, 0, 0, 0) 13%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 8%, rgba(0, 0, 0, 0.1) 5%, rgba(0, 0, 0, 0) 13%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=1);
}

.backcover::after {
    top: 4%;
    right: 3px;
    z-index: 2;
    width: 15px;
    height: 92%;
    content: '';
    position: absolute;
    background: url('./../../assets/images/bookpattren.png') no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.book-info-wrapper:hover .btnaddtowishlist{
    opacity: 1;
    bottom: 70%;
    visibility: visible;
    color: #fff;
}

