.search-wrapper{
    margin: 20px;
}

.search-input {
    border-radius: 15px;
    outline: none;
    font-style: italic;
    font-size: 12px;
    width: 400px;
    padding: 5px;
}

.search-button {
    background-color: transparent;
    outline: none;
    border: none;
    position: relative;
    left: -35px;
}