.header-title {
  font-size: 3.5rem;
}
.header-content {
  margin-left: 3rem;
}

.header-text {
  margin-top: 1.8rem;
  margin-bottom: 2.8rem;
}
@media screen and (min-width: 480px) {
  .holder{
    display: flex;
    flex-direction: column;
    margin-right: 11px;
  }
  .header-content{
    font-size: 18px;
  }
}