.books-list-wrapper{
    max-width: 980px;
    margin: 0 auto;
    padding: 20px;
    width: 100%; 
}

.books-list-conteiner{
    width: 100%; 
    display: grid;
    grid-auto-rows: 310px; 
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1em;
}