
.modal-book-info-wrapper{
    width: calc( 110% - 700px);
    background-color: white;
    text-align: left;
    padding: 10px;
   
}

.modal-book-viewer-wrapper{
    background-color: white;
    padding: 0 !important;
}

